# Project exclude paths
/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_12_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_12_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_12_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_12_2.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_enterprise_jakarta_enterprise_cdi_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_1_0.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_2_1_6.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
/.idea/libraries/Maven__javax_javaee_web_api_8_0_1.xml
/.idea/libraries/Maven__ognl_ognl_3_1_26.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_attoparser_attoparser_2_0_5_RELEASE.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_jakarta_inject_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_3.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_cdi2_se_2_34.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_34.xml
/.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
/.idea/libraries/Maven__org_jboss_classfilewriter_jboss_classfilewriter_1_2_5_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_3_spec_2_0_1_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_el_jboss_el_api_3_0_spec_2_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_2_spec_2_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_weld_environment_weld_environment_common_3_1_8_Final.xml
/.idea/libraries/Maven__org_jboss_weld_probe_weld_probe_core_3_1_8_Final.xml
/.idea/libraries/Maven__org_jboss_weld_se_weld_se_core_3_1_8_Final.xml
/.idea/libraries/Maven__org_jboss_weld_weld_api_3_1_SP4.xml
/.idea/libraries/Maven__org_jboss_weld_weld_core_impl_3_1_8_Final.xml
/.idea/libraries/Maven__org_jboss_weld_weld_spi_3_1_SP4.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_0_12_RELEASE.xml
/.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/artifacts/Servlet_war.xml
/.idea/artifacts/Servlet_war_exploded.xml
/.idea/vcs.xml
